android.json
[{"id":"12fc37e.51e27c8","type":"tab","label":"Flow_android","disabled":false,"info":""},{"id":"8a6de8b7.a10288","type":"inject","z":"12fc37e.51e27c8","name":"Refresh list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":222,"y":176,"wires":[["b7c89af9.cca058"]]},{"id":"b7c89af9.cca058","type":"file in","z":"12fc37e.51e27c8","name":"Read TTNMapper","filename":"C:\\Users\\Fabien\\Google Drive\\Mesures\\DNIIT\\Diversity\\attachment1573214593809","format":"lines","chunk":false,"sendError":false,"encoding":"ascii","x":403,"y":176,"wires":[["967ce799.047a48"]]},{"id":"e8426918.02f938","type":"debug","z":"12fc37e.51e27c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1039,"y":409,"wires":[]},{"id":"9ee87346.0bced","type":"worldmap","z":"12fc37e.51e27c8","name":"TTN Map","lat":"16.07","lon":"108.22","zoom":"13","layer":"OSM","cluster":"0","maxage":"0","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"worldmap_Vietnam","x":866,"y":270,"wires":[]},{"id":"f4c2e104.dcbd6","type":"function","z":"12fc37e.51e27c8","name":"Format JSON","func":"//var result = msg.payload.lat.replace(/[\\s()-]+/gi,'');\n\nvar color = \"#1E90FF\";\n\nif (msg.payload.metadata.gateways[0].rssi > -120)\n{color = \"#00ffcc\";}\nif (msg.payload.metadata.gateways[0].rssi > -110)\n{color = \"#8cff00\";}\nif (msg.payload.metadata.gateways[0].rssi > -100)\n{color = \"#ffcc00\";}\nif (msg.payload.metadata.gateways[0].rssi > -100)\n{color = \"#FF0000\";}\n\n\nreturn {payload: {   name: msg.payload.phone_time,\n                    lat: msg.payload.phone_lat,\n                    lon: msg.payload.phone_lon,\n                    icon: 'map-signs',\n                    iconColor : color,\n                    rssi : msg.payload.metadata.gateways[0].rssi\n                           }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"x":635,"y":299,"wires":[["9ee87346.0bced"]]},{"id":"967ce799.047a48","type":"json","z":"12fc37e.51e27c8","name":"","property":"payload","action":"","pretty":false,"x":654,"y":86,"wires":[["f4c2e104.dcbd6","dc64a727.533ca8","e8426918.02f938"]]},{"id":"dc64a727.533ca8","type":"function","z":"12fc37e.51e27c8","name":"Distance","func":"\n//node.warn(msg.payload);\n\n\nvar rssi;\nvar snr;\nvar dev;\nvar lat1 = 16.07562444;\nvar lon1 = 108.22213569;\nvar lat2 = msg.payload.phone_lat;\nvar lon2 = msg.payload.phone_lon;\nvar max_dist = 0;\n\n\n// start and end are objects with latitude and longitude\n//decimals (default 2) is number of decimals in the output\n//return is distance in kilometers. \n    var decimals = 2;\n    var earthRadius = 6371; // km\n   // var lat1 = parseFloat(msg.payload.gps_1.latitude);\n \n    //var dLat = (lat2 - lat1).toRad();\n    //var dLon = (lon2 - lon1).toRad();\n    //lat1 = lat1.toRad();\n    //lat2 = lat2.toRad();\n    var dLat = (lat2 - lat1)* Math.PI / 180;\n    var dLon = (lon2 - lon1)* Math.PI / 180;\n    lat1_pi = lat1* Math.PI / 180;\n    lat2_pi = lat2* Math.PI / 180;\n    \n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n            Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1_pi) * Math.cos(lat2_pi);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    var d = earthRadius * c;\n    var dist =  Math.round(d * Math.pow(10, decimals)) / Math.pow(10, decimals);\n   \n    rssi =  msg.payload.metadata.gateways[0].rssi;\n    snr = msg.payload.metadata.gateways[0].snr;\n    dev = msg.payload.dev_id;\n       \n        \n    \n    \n    \n\nreturn {\n    payload: {\n        time: msg.payload.phone_time,\n        rssi: rssi,\n        snr:snr,\n        dist: dist,\n        dev:dev,\n        }};\n        \n        \n","outputs":1,"noerr":0,"x":631,"y":399,"wires":[["1966f03e.936be"]]},{"id":"1966f03e.936be","type":"csv","z":"12fc37e.51e27c8","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,dev,dist,rssi,snr","skip":0,"x":792,"y":447,"wires":[["ef861482.f3c778"]]},{"id":"ef861482.f3c778","type":"file","z":"12fc37e.51e27c8","name":"","filename":"C:\\ads\\TTN_dist_RSSI_June2","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1109,"y":631,"wires":[[]]}]