email.json
[{"id":"abba3e81.cf0f6","type":"tab","label":"Ph0wn","disabled":false,"info":""},{"id":"3895c0c8.4609","type":"debug","z":"abba3e81.cf0f6","name":"msg.payload.payload_raw - DATA (as is)","active":false,"console":"false","complete":"payload","x":741,"y":382,"wires":[]},{"id":"25b0128c.e82e2e","type":"function","z":"abba3e81.cf0f6","name":"Decrypt Payload","func":"// msg1 - Unencrypted (vanilla data)\nvar msg1 = { payload: msg.payload.length };\nmsg1.payload = JSON.parse(msg.payload);\nmsg1.payload = msg1.payload.payload_raw;\n\n// msg2 - Decrypt to Text\nvar msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload_raw, 'base64').toString('ascii');\nmsg2.topic = \"ph{EyT6c7fE}\";\nmsg2.to=msg2.payload;\nmsg2.body= \"Congrats !\";\n\n// msg3 - Decrypt as Binary value (MSB,LSB)\nvar msg3 = { payload: msg.payload.length };\nmsg3.payload = JSON.parse(msg.payload);\nmsg3.payload = new Buffer(msg3.payload.payload_raw, 'base64').toString('hex');\nmsg3.payload = parseInt(msg3.payload, 16);\n\n\n\nreturn [ msg1, msg2, msg3 ];","outputs":"3","noerr":0,"x":810,"y":261,"wires":[["3895c0c8.4609"],["c98484a6.aab6c8","b93fb8bf.4bae08","1570a80c.b66cd8"],["ae010284.bdc4"]]},{"id":"c98484a6.aab6c8","type":"debug","z":"abba3e81.cf0f6","name":"msg.payload.payload_raw - DATA (decrypted to text)","active":false,"console":"false","complete":"payload","x":777,"y":444.5,"wires":[]},{"id":"ae010284.bdc4","type":"debug","z":"abba3e81.cf0f6","name":"msg.payload.payload_raw - DATA (decrypted to Bytes HiLo)","active":false,"console":"false","complete":"payload","x":787,"y":509.5,"wires":[]},{"id":"55ca5865.4a10f8","type":"debug","z":"abba3e81.cf0f6","name":"message (as is)","active":false,"console":"false","complete":"payload","x":956,"y":190.5,"wires":[]},{"id":"63c4a730.bb3b98","type":"inject","z":"abba3e81.cf0f6","name":"Byte Value example","topic":"","payload":"{\"payload_raw\":\"68 65 6c 6c 6f\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":526,"y":266,"wires":[["25b0128c.e82e2e"]]},{"id":"c71c4fe2.5e3b","type":"inject","z":"abba3e81.cf0f6","name":"Text example","topic":"","payload":"{\"payload_raw\":\"68656c6c6f\"}","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":508,"y":316,"wires":[["25b0128c.e82e2e"]]},{"id":"2dbcfb13.9ac634","type":"function","z":"abba3e81.cf0f6","name":"Example A - Two \"byte pairs\" (4 bytes in total) for Temp and Humidity","func":"var buf = new Buffer(msg.payload.raw, 'base64'); // put in msg.payload the payload raw data stored initially as Base64\nvar node = msg.devEUI;\n\ntemp = buf[2] * 255 + buf[3];\nhum = buf[0] * 255 + buf[1];\n\n// construct a new object to store the data message\nvar data = {\npayload : [\n [{\n numValue: temp/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"temp\",\n sensor:node\n }],\n [{\n numValue: hum/10.0,\n time: new Date(msg.metadata.server_time).getTime()\n },\n {\n tag1:\"hum\",\n sensor:node\n }]\n]};\nreturn data;","outputs":1,"noerr":0,"x":703,"y":578,"wires":[[]]},{"id":"e81d9e05.92a1b","type":"json","z":"abba3e81.cf0f6","name":"","x":786.5,"y":191,"wires":[["55ca5865.4a10f8"]]},{"id":"64415544.5c641c","type":"comment","z":"abba3e81.cf0f6","name":"For MQTT \"user\"/\"password\", use \"Application ID\"/\"default key\" ","info":"\n1) Sign in to TTN and go to your application page where \"app_1\" is your \"Application ID\" e.g.\nhttps://console.thethingsnetwork.org/applications/app_1\n\n2) For MQTT User, use \"Application ID\" \n\n3) For MQTT password, scroll to bottom and use \"default key\" (you need to press the \"eye\" to see the long text)","x":655,"y":105,"wires":[]},{"id":"d53f76b2.f2b808","type":"function","z":"abba3e81.cf0f6","name":"Example B - Two \"Float value Byte Quads\" (8 bytes in total) for Lat. and Longitude (Float)","func":"var msg2 = { payload: msg.payload.length };\nmsg2.payload = JSON.parse(msg.payload);\nmsg2.payload = new Buffer(msg2.payload.payload, 'base64').toString('hex');\nvar lat = Buffer(msg2.payload, 'hex').readFloatLE(0);\nvar lon = Buffer(msg2.payload, 'hex').readFloatLE(4);\nmsg2.payload= \"[{\\\"lat\\\":\" + lat + \",\\\"lng\\\":\" + lon + \"}]\";//\"{\"lat\":lat,\"lng\":lon};\nreturn msg2;","outputs":1,"noerr":0,"x":750,"y":630,"wires":[[]]},{"id":"a912f0c9.ad244","type":"mqtt in","z":"abba3e81.cf0f6","name":"MQTT Node - TheThingsNetwork","topic":"#","qos":"2","datatype":"auto","broker":"f23852d1.360e2","x":199,"y":167,"wires":[[]]},{"id":"b93fb8bf.4bae08","type":"e-mail out","z":"abba3e81.cf0f6","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"phown2019","x":1248,"y":422,"wires":[[]]},{"id":"1570a80c.b66cd8","type":"debug","z":"abba3e81.cf0f6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1200,"y":196,"wires":[]},{"id":"e876e0e1.24d0c","type":"function","z":"abba3e81.cf0f6","name":"Process received TTN message","func":"//process new message which may contain the response\n//of multiple gateways which received the packet\nvar gatewaysarray = msg.metadata.gateways;\nvar logMsgs = [];\nvar time= gatewaysarray[0].time;\nvar gw_id = [];\nvar rssi = [];\nvar snr = [];\nvar gw_lat = [];\nvar gw_lon = [];\nvar gw_alt = [];\nvar timestamp = [];\nfor (i = 0; i < gatewaysarray.length; i++){\n\ngw_id[i] = gatewaysarray[i].gtw_id;\nrssi[i]= gatewaysarray[i].rssi;\nsnr[i] = gatewaysarray[i].snr;\ngw_lat[i] = gatewaysarray[i].latitude;\ngw_lon[i] = gatewaysarray[i].longitude;\ngw_alt[i] = gatewaysarray[i].altitude;\ntimestamp[i]= gatewaysarray[i].timestamp;\nlogMsgs[i]=({payload: {time: time,\n                           gtw_id: gw_id,\n                           rssi: rssi,\n                           snr: snr,\n                           gwy_lat: gw_lat,\n                           gwy_lon: gw_lon,\n                           gwy_alt: gw_alt,\n                           timestamp : timestamp\n                            }\n                 });\n   }\nreturn logMsgs;\n\n\n","outputs":1,"noerr":0,"x":583.0234375,"y":779.0390625,"wires":[["b630291.9c67ad8"]]},{"id":"b630291.9c67ad8","type":"csv","z":"abba3e81.cf0f6","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,gtw_id,rssi,snr,gwy_lat,gwy_lon,gwy_alt,timestamp","skip":0,"x":850.0234375,"y":780.0390625,"wires":[["44a4cb50.1e0c94"]]},{"id":"44a4cb50.1e0c94","type":"file","z":"abba3e81.cf0f6","name":"","filename":"C:\\ads\\GW_phown.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1110.0234375,"y":817.0390625,"wires":[[]]},{"id":"21deedbd.45d292","type":"ttn uplink","z":"abba3e81.cf0f6","name":"Lacuna_test","app":"2d2e21d1.b7b26e","dev_id":"test","field":"","x":143.0234375,"y":758.0390625,"wires":[["e876e0e1.24d0c","cdf9454a.a22898","c4a0591d.a180a8"]]},{"id":"cdf9454a.a22898","type":"debug","z":"abba3e81.cf0f6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":999.023494720459,"y":702.0390605926514,"wires":[]},{"id":"c4a0591d.a180a8","type":"influxdb out","z":"abba3e81.cf0f6","influxdb":"d19a0e65.699ed","name":"","measurement":"test","precision":"","retentionPolicy":"","x":904.78125,"y":963.8359375,"wires":[]},{"id":"f23852d1.360e2","type":"mqtt-broker","z":"abba3e81.cf0f6","name":"","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willRetain":null,"willPayload":""},{"id":"2d2e21d1.b7b26e","type":"ttn app","z":"","appId":"ph0wn","accessKey":"ttn-account-v2.yTbE4m7S7rR7vDrRK7fEBtaL4GTN5ucffn02NT2VgC8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"d19a0e65.699ed","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lacuna","name":"","usetls":false,"tls":""}]