valrose.json
[{"id":"2a6e04f.684e1fc","type":"tab","label":"Flow_Valrose","disabled":false,"info":""},{"id":"ad86eb8.b8b1518","type":"inject","z":"2a6e04f.684e1fc","name":"Refresh list","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":211,"y":166,"wires":[["3a12b228.84021e"]]},{"id":"3a12b228.84021e","type":"file in","z":"2a6e04f.684e1fc","name":"Read TTNMapper","filename":"C:\\Users\\Fabien\\Google Drive\\Mesures\\DNIIT\\Diversity\\ttnmapper-201911221529.log","format":"lines","chunk":false,"sendError":false,"encoding":"ascii","x":392,"y":166,"wires":[["8119b81f.24a7d8"]]},{"id":"584e22d1.b17e2c","type":"debug","z":"2a6e04f.684e1fc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":849,"y":182,"wires":[]},{"id":"5590ba70.42a684","type":"worldmap","z":"2a6e04f.684e1fc","name":"TTN Map","lat":"43.71","lon":"7.2656","zoom":"13","layer":"Terrain","cluster":"0","maxage":"0","usermenu":"show","layers":"show","panit":"false","hiderightclick":"false","coords":"none","path":"Valrose","x":855,"y":260,"wires":[]},{"id":"dbdba5ac.2e9c28","type":"function","z":"2a6e04f.684e1fc","name":"Format JSON","func":"//var result = msg.payload.lat.replace(/[\\s()-]+/gi,'');\n\nvar color = \"#1E90FF\";\n\nif (msg.payload.metadata.gateways[0].rssi > -120)\n{color = \"#00ffcc\";}\nif (msg.payload.metadata.gateways[0].rssi > -110)\n{color = \"#8cff00\";}\nif (msg.payload.metadata.gateways[0].rssi > -100)\n{color = \"#ffcc00\";}\nif (msg.payload.metadata.gateways[0].rssi > -100)\n{color = \"#FF0000\";}\n\n\nreturn {payload: {   name: msg.payload.phone_time,\n                    lat: msg.payload.phone_lat,\n                    lon: msg.payload.phone_lon,\n                    icon: 'map-signs',\n                    iconColor : color,\n                    rssi : msg.payload.metadata.gateways[0].rssi\n                           }\n                 };\n                 \n  \n  ","outputs":1,"noerr":0,"x":624,"y":289,"wires":[["5590ba70.42a684","584e22d1.b17e2c"]]},{"id":"8119b81f.24a7d8","type":"json","z":"2a6e04f.684e1fc","name":"","property":"payload","action":"","pretty":false,"x":643,"y":76,"wires":[["dbdba5ac.2e9c28","4f8a602b.41175","4c4b15d8.773bfc"]]},{"id":"4f8a602b.41175","type":"function","z":"2a6e04f.684e1fc","name":"Distance","func":"\n//node.warn(msg.payload);\n\n\nvar rssi;\nvar snr;\nvar dev;\nvar lat1 = 43.716362;\nvar lon1 = 7.268347;\nvar lat2 = msg.payload.phone_lat;\nvar lon2 = msg.payload.phone_lon;\nvar max_dist = 0;\n\n\n// start and end are objects with latitude and longitude\n//decimals (default 2) is number of decimals in the output\n//return is distance in kilometers. \n    var decimals = 2;\n    var earthRadius = 6371; // km\n   // var lat1 = parseFloat(msg.payload.gps_1.latitude);\n \n    //var dLat = (lat2 - lat1).toRad();\n    //var dLon = (lon2 - lon1).toRad();\n    //lat1 = lat1.toRad();\n    //lat2 = lat2.toRad();\n    var dLat = (lat2 - lat1)* Math.PI / 180;\n    var dLon = (lon2 - lon1)* Math.PI / 180;\n    lat1_pi = lat1* Math.PI / 180;\n    lat2_pi = lat2* Math.PI / 180;\n    \n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n            Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1_pi) * Math.cos(lat2_pi);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    var d = earthRadius * c;\n    var dist =  Math.round(d * Math.pow(10, decimals)) / Math.pow(10, decimals);\n   \n    rssi =  msg.payload.metadata.gateways[0].rssi;\n    snr = msg.payload.metadata.gateways[0].snr;\n    dev = msg.payload.dev_id;\n       \n        \n    \n    \n    \n\nreturn {\n    payload: {\n        time: msg.payload.phone_time,\n        rssi: rssi,\n        snr:snr,\n        dist: dist,\n        dev:dev,\n        }};\n        \n        \n","outputs":1,"noerr":0,"x":620,"y":389,"wires":[["b1b158fe.941dc8"]]},{"id":"b1b158fe.941dc8","type":"csv","z":"2a6e04f.684e1fc","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,dev,dist,rssi,snr","skip":0,"x":781,"y":437,"wires":[["849d62f5.c7acc"]]},{"id":"849d62f5.c7acc","type":"file","z":"2a6e04f.684e1fc","name":"","filename":"C:\\Users\\Fabien\\Google Drive\\Mesures\\DNIIT\\Diversity\\test","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1188,"y":621,"wires":[[]]},{"id":"4c4b15d8.773bfc","type":"function","z":"2a6e04f.684e1fc","name":"Diversite","func":"\n//node.warn(msg.payload);\n\n\nvar rssi1;\nvar snr1;\nvar rssi2;\nvar snr2;\nvar dev;\nvar lat1 = 43.716362;\nvar lon1 = 7.268347;\nvar lat2 = msg.payload.phone_lat;\nvar lon2 = msg.payload.phone_lon;\nvar max_dist = 0;\n\n\n// start and end are objects with latitude and longitude\n//decimals (default 2) is number of decimals in the output\n//return is distance in kilometers. \n    var decimals = 2;\n    var earthRadius = 6371; // km\n   // var lat1 = parseFloat(msg.payload.gps_1.latitude);\n \n    //var dLat = (lat2 - lat1).toRad();\n    //var dLon = (lon2 - lon1).toRad();\n    //lat1 = lat1.toRad();\n    //lat2 = lat2.toRad();\n    var dLat = (lat2 - lat1)* Math.PI / 180;\n    var dLon = (lon2 - lon1)* Math.PI / 180;\n    lat1_pi = lat1* Math.PI / 180;\n    lat2_pi = lat2* Math.PI / 180;\n    \n    var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +\n            Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1_pi) * Math.cos(lat2_pi);\n    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n    var d = earthRadius * c;\n    var dist =  Math.round(d * Math.pow(10, decimals)) / Math.pow(10, decimals);\n   \n    rssi1 =  msg.payload.metadata.gateways[0].rssi;\n    snr1 = msg.payload.metadata.gateways[0].snr;\n    rssi2 =  msg.payload.metadata.gateways[1].rssi;\n    snr2 = msg.payload.metadata.gateways[1].snr;\n    dev = msg.payload.dev_id;\n       \n        \n    \n    \n    \n\nreturn {\n    payload: {\n        time: msg.payload.phone_time,\n        rssi1: rssi1,\n        snr1:snr1,\n        rssi2: rssi2,\n        snr2:snr2,\n        dist: dist,\n        dev:dev,\n        }};\n        \n        \n","outputs":1,"noerr":0,"x":464,"y":529,"wires":[["d9ff7fba.7900b"]]},{"id":"d9ff7fba.7900b","type":"csv","z":"2a6e04f.684e1fc","name":"To CSV","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"time,dev,dist,rssi1,snr1,rssi2,snr2","skip":0,"x":568,"y":661,"wires":[["daf0074f.034858"]]},{"id":"daf0074f.034858","type":"file","z":"2a6e04f.684e1fc","name":"","filename":"C:\\Users\\Fabien\\Google Drive\\Mesures\\DNIIT\\Diversity\\div","appendNewline":true,"createDir":false,"overwriteFile":"false","x":964,"y":699,"wires":[[]]}]